* {
  font-family: "Comfortaa", cursive;
}

body {
  background-image: url(/images/table.jpeg);
}

#titleDiv {
  display: flex;
  background-color: white;
  color: darkred;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin: 30px 30px 10px 30px;
  padding: 0;
  box-shadow: 4px 4px 5px rgba(67, 26, 2, 0.9);
}

#titleDiv > div {
  padding: 0;
}

#formDiv {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin: 20px 280px 8px 280px;
  border-radius: 40px;
  box-shadow: 4px 4px 5px rgba(67, 26, 2, 0.9);
  height: 900px;
  padding-top: 0px;
}

#orderFormTitle {
  text-align: center;
  font-size: 36px;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  padding-top: 20px;
  margin-top: 0;
}

#sizeChoices {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#toppingsDiv {
  display: flex;
  flex-direction: column;
}

#orderBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.costHide {
  visibility: hidden;
}

#cost {
  margin-right: 135px;
  margin-top: 0;
}

h1 {
  font-family: "Tilt Prism", cursive;
  font-size: 80px;
  margin: 4px;
}

h2 {
  font-family: "Dancing Script", cursive;
}

button {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  text-decoration: none;
  background-color: brown;
  border-radius: 8px;
  color: white;
  border: none;
  padding: 5px 8px;
  box-shadow: 2px 3px rgba(67, 26, 2, 0.9);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(94, 37, 4, 0.9);
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}

.anotherOrderButton {
  visibility: hidden;
}
