#sizeChoices {
  display: flex;
  flex-direction: column;
}

#toppingsDiv {
  display: flex;
  flex-direction: column;
}

#orderBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.costHide {
  visibility: hidden;
}
